# <span style="color:darkblue"> Lecture 20 - Connecting to SQL via Python </span>

<font size = "5">

In the past lectures:

- We worked directly in SQL
- Imported data
- Carried out basic dataset operations

In  this lecture we will run SQL from Python

- Combine the best of both!
- Learn about escape characters!

# <span style="color:darkblue"> I. Import Libraries and Data </span>

<font size = "5">

Install new libraries to connect to SQL from Python:

- psycopg2
- sqlalchemy

In [1]:
# With base Python, run the following commands in the terminal
# (i)     pip3 install psycopg2
# (ii)    pip3 install sqlalchemy
# If (i) doesn't work, instead try
#         pip3 install psycopg2-binary           OR
#         pip3 install psycopg2-binary --user

# For Anaconda: Open the "Anaconda Navigator" app and go the "Environment" tab
# Check whether "psycopg2", "sqlalchemy" appear in the "installed" panel
# Otherwise, search in the "Not installed" panel and install them

<font size = "5">

Import libraries

In [24]:
# psycogpg2 helps us process SQL commands to send to the server
# sqlalchemy facilitates establishing a connection with the server

import pandas as pd
import psycopg2
import sqlalchemy as sa
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Import Data

In [25]:
# Import the two car racing datasets

results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
circuits = pd.read_csv("data_raw/circuits.csv")

<font size = "5">

Connect to SQL server

In [26]:
# Use the connection details to your server
# These are the default settings.
# "postgresql" is a fixed argument
# If you have a different host,database, username, or password,
# change the corresponding connection details

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = '12345')

con = sa.create_engine(url_server).connect()

<font size = "5">

Upload data to SQL

In [27]:
# Import the "results" table, with the name "results_sql"
# Con is an argument to specify the server connection
# "if_exists" is an option to replace the table if it already exists
# You can choose any name instead of "results_sql"

results.to_sql('results_sql',
               con = con,
               if_exists='replace')

# Import "races"
races.to_sql('races_sql',con, if_exists='replace')

102

<font size = "5">

Try it yourself!

- Upload the "circuits table" into SQL <br>
using ".to_sql()"

In [28]:
# Write your own code
circuits.to_sql('circuits_sql',con, if_exists='replace')

77

# <span style="color:darkblue"> II. "Escape" Characters </span>

<font size = "5">

- Backslash (\\) is known as an escape character
- Used for special operations on strings
- Great for working with text!

<font size = "5">

Multi-line strings (" \ ")

In [29]:
# Use a backslash to define strins over multiple lines
# Do not include a space after "\", otherwise it won't work.
example_string = "This is a string \
                  defined over multiple lines"

<font size = "5">

"Double quotes" inside string

In [30]:
# Use a backslash + quotation 

example_double = "This will \"supposedly\" put double quotes inside a string"
print(example_double)

This will "supposedly" put double quotes inside a string

<font size = "5" >
'Single quotes' inside string

In [31]:
# There is no need for a backslash given single quotes 

example_single = "This will 'supposedly' put single quotes inside a string"
print(example_single)

This will 'supposedly' put single quotes inside a string

<font size = "5">

Try it yourself!

- Print a string ``` SELECT "driverId" FROM results; ``` <br> 
using backslash

In [32]:
# Write your own code

string1 = "SELECT \"driverId\" FROM results"
print(string1)

SELECT "driverId" FROM results

# <span style="color:darkblue"> II. Data operations </span>

<font size = "5">

- In SQL, operations are often called "queries"

<font size = "5">

Import Data from SQL

In [33]:
# Use "pd.read_sql()"
# - The first argument is string with instructions wrapped in text()
#- The second argument is the server connection

# Extract all data from a column
example1 = pd.read_sql(text("SELECT * FROM results_sql;"),con)

# Extract a subset of columns
example2 = pd.read_sql(text("SELECT points \
                             FROM results_sql;"),con)

# Subset based on a string condition
example3 = pd.read_sql(text("SELECT * \
                             FROM races_sql \
                             WHERE name = 'Abu Dhabi Grand Prix';"),con)

# Note: (i) Remember to include "\"  to be able to define
#           strings over multiple lines
#       (ii) We can include single quotations in the WHERE command
#            without any additional escape characters

<font size = "5">

Upper case columns

- In SQL syntax we use double quotes e.g. ``` "driverId" ```
- ```.read_sql()``` requires a string inside a string
- To do so, use escape characters, e.g.   ``` \"driverId\" ```

In [34]:
# Select a column
example4 = pd.read_sql(text("SELECT \"driverId\" \
                             FROM results_sql;"),con)

# Compute an aggregate statistic
example5 = pd.read_sql(text("SELECT AVG(points) as mean_points \
                             FROM results_sql \
                             GROUP BY \"driverId\" ;"),con)

<font size = "5">

Merge two datasets

In [35]:
# Merge 
# Reference the column \"driverId\" with escape characters
example6 = pd.read_sql(text("SELECT * \
                             FROM results_sql \
                             LEFT JOIN races_sql \
                             ON results_sql.\"raceId\" = races_sql.\"raceId\" ;"),con)

# Merge a subset of columns
# Use "results_sql.*" to select all columns from the primary dataset
# Use "races_sql.date" to only select the "date" column from the secondary dataset 

example7 = pd.read_sql(text("SELECT results_sql.*, races_sql.date \
                             FROM results_sql \
                             LEFT JOIN races_sql \
                             ON results_sql.\"raceId\" = races_sql.\"raceId\" ;"),con)

<font size = "5">

Try it yourself!

- Practice the ```pd.read_sql()``` command
- FROM results_sql compute the sum of points by <br>
"raceId" <br>

In [36]:
# Write your own code

sum_race_id= pd.read_sql(text("SELECT SUM(points) as total_points  \
                              FROM results_sql \
                              GROUP BY \"driverId\";"),con)
print(sum_race_id)

     total_points
0           422.0
1             0.0
2            18.0
3             5.0
4            32.0
..            ...
850           0.0
851          10.0
852           3.0
853         241.0
854           0.0

[855 rows x 1 columns]

<font size = "5">

Try it yourself!

- Practice the ```pd.read_sql()``` command
- Merge "races_sql" and the circuits table on "circuitId" <br>
tha you imported above using ```LEFT JOIN```

In [38]:
# Write your own

races_circuits = pd.read_sql(text("SELECT * \
                                  FROM races_sql \
                                  LEFT JOIN circuits_sql \
                                  ON races_sql.\"circuitId\" = circuits_sql.\"circuitId\" ;"),con)
print(races_circuits)

     index  raceId  year  round circuitId                      name  \
0        0       1  2009      1         1     Australian Grand Prix
1        1       2  2009      2         2      Malaysian Grand Prix
2        2       3  2009      3        17        Chinese Grand Prix
3        3       4  2009      4         3        Bahrain Grand Prix
4        4       5  2009      5         4        Spanish Grand Prix
...    ...     ...   ...    ...       ...                       ...
1097  1097    1116  2023     19        69  United States Grand Prix
1098  1098    1117  2023     20        32    Mexico City Grand Prix
1099  1099    1118  2023     21        18      São Paulo Grand Prix
1100  1100    1119  2023     22        80      Las Vegas Grand Prix
1101  1101    1120  2023     23        24      Abu Dhabi Grand Prix

            date      time                                                url  \
0     2009-03-29  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...
1     2009-04-05  09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2     2009-04-19  07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3     2009-04-26  12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4     2009-05-10  12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...          ...       ...                                                ...
1097  2023-10-22  19:00:00  https://en.wikipedia.org/wiki/2023_United_Stat...
1098  2023-10-29  20:00:00  https://en.wikipedia.org/wiki/2023_Mexico_City...
1099  2023-11-05  17:00:00  https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...
1100  2023-11-19  06:00:00  https://en.wikipedia.org/wiki/2023_Las_Vegas_G...
1101  2023-11-26  13:00:00  https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...

        fp1_date  ... index circuitId   circuitRef  \
0             \N  ...     0         1  albert_park
1             \N  ...     1         2       sepang
2             \N  ...    16        17     shanghai
3             \N  ...     2         3      bahrain
4             \N  ...     3         4    catalunya
...          ...  ...   ...       ...          ...
1097  2023-10-20  ...    68        69     americas
1098  2023-10-27  ...    31        32    rodriguez
1099  2023-11-03  ...    17        18   interlagos
1100  2023-11-17  ...    22        80        vegas
1101  2023-11-24  ...    23        24   yas_marina

                                name      location        country       lat  \
0     Albert Park Grand Prix Circuit     Melbourne      Australia -37.84970
1       Sepang International Circuit  Kuala Lumpur       Malaysia   2.76083
2     Shanghai International Circuit      Shanghai          China  31.33890
3      Bahrain International Circuit        Sakhir        Bahrain  26.03250
4     Circuit de Barcelona-Catalunya      Montmeló          Spain  41.57000
...                              ...           ...            ...       ...
1097         Circuit of the Americas        Austin            USA  30.13280
1098    Autódromo Hermanos Rodríguez   Mexico City         Mexico  19.40420
1099      Autódromo José Carlos Pace     São Paulo         Brazil -23.70360
1100  Las Vegas Strip Street Circuit     Las Vegas  United States  36.11470
1101              Yas Marina Circuit     Abu Dhabi            UAE  24.46720

            lng   alt                                                url
0     144.96800    10  http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1     101.73800    18  http://en.wikipedia.org/wiki/Sepang_Internatio...
2     121.22000     5  http://en.wikipedia.org/wiki/Shanghai_Internat...
3      50.51060     7  http://en.wikipedia.org/wiki/Bahrain_Internati...
4       2.26111   109  http://en.wikipedia.org/wiki/Circuit_de_Barcel...
...         ...   ...                                                ...
1097  -97.64110   161  http://en.wikipedia.org/wiki/Circuit_of_the_Am...
1098  -99.09070  2227  http://en.wikipedia.org/wiki/Aut%C3%B3dromo_He...
1099  -46.69970   785  http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...
1100 -115.17300    \N  https://en.wikipedia.org/wiki/Las_Vegas_Grand_...
1101   54.60310     3    http://en.wikipedia.org/wiki/Yas_Marina_Circuit

[1102 rows x 29 columns]

# <span style="color:darkblue"> IV. Additional Material </span>

<font size = "5">

More about SQL syntax

https://www.w3schools.com/sql/